{% extends "main/base.html" %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>НОВОСТИ</h2>
        </div>
    </div>
    <div class="align-content-center">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
        <a class="btn btn-danger" href="{% url 'news-delete' article.id %}">Удалить</a>
        <a class="btn btn-info" href="{% url 'news-update' article.id %}">Редактировть</a>

    </div>

    <br><br><br><br><br><br><br><br>
{% endblock %}